[submodule ".registry"]
	path = .registry
	url = https://github.com/dormancy1/dormancy1.r-universe.dev
	branch = HEAD
[submodule "adapt3"]
	path = adapt3
	url = https://github.com/dormancy1/adapt3
[submodule "lefko3"]
	path = lefko3
	url = https://github.com/dormancy1/lefko3
	subdir = pkg
